.navbar {
 
position: fixed;
 
right: 0;
 
left: 0;
 
z-index: 999;
 
}

body {
	padding-left: 10px;
	
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: white;
    color: black;
}